name: github pages

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive  # Fetch Hugo themes (true OR recursive)
        # fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.8.0
      if: github.ref == 'refs/heads/master'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # force_orphan: true
        publish_dir: .